---
import { moreWorks } from '@/consts'

interface Project {
  title: string
  description: string
  img: string
  url: string
  year: string
}
---

<article
  class='px-6 flex flex-col gap-12 sm:px-12 xl:gap-20 xl:px-36 xl:pb-36 2xl:px-56 2xl:pb-56'
>
  <div class='w-full h-[1px] bg-neutral-800'></div>
  <section class='w-full bento-grid'>
    {
      moreWorks.map((project: Project, i: number) => (
        <picture class='flex relative rounded-lg p-[6px] lg:rounded-xl lg:p-3 2xl:rounded-3xl 2xl:p-4'>
          <div class='bento-project-card w-full h-full overflow-hidden rounded-[2px] lg:rounded-md 2xl:rounded-lg'>
            <a
              href={project.url}
              target='_blank'
              class='relative w-full h-full'
            >
              <img
                class='w-full h-full object-cover grayscale brightness-[0.4] hover:grayscale-0 hover:brightness-100'
                src={project.img}
                alt={project.title}
              />
              <p class='absolute flex flex-col bottom-3 left-4 text-xs text-white font-semibold lg:text-xl 2xl:bottom-6 2xl:left-8 2xl:text-3xl'>
                <span>{project.title}</span>
                <span class='italic font-normal'>{project.description}</span>
              </p>
              <span class='absolute text-xs text-white font-semibold top-3 right-4 lg:text-lg 2xl:top-6 2xl:right-8 2xl:text-2xl'>
                {project.year}
              </span>
            </a>
          </div>
        </picture>
      ))
    }
  </section>
</article>

<style>
  .bento-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(240px, auto));
    gap: 1.2rem;
  }

  .bento-grid picture,
  .bento-project-card {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.4);
  }

  .bento-project-card a img {
    transition: all 0.2s ease-in-out;
  }
  .bento-project-card:hover a img {
    transform: scale(1.2);
  }

  @media (width >= 1080px) {
    .bento-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, minmax(520px, auto));
      gap: 2rem;
    }
  }

  @media (width >= 1560px) {
    .bento-grid {
      grid-template-rows: repeat(2, minmax(720px, auto));
    }
  }
</style>
