---
import { mainProject } from '@/consts.ts'
import { Technologies } from '@/components/Technologies.tsx'
import type { TechnologieType } from '@/types'

interface ProjectType {
  title: string
  description: string
  technologies: string[]
  img: string
  url: string
}

const project: ProjectType = mainProject
---

<article
  class='box-border relative p-2 flex flex-col overflow-hidden rounded-[32px] xl:p-3 xl:rounded-[36px]'
>
  <div class='glare'></div>
  <section
    class='box-border relative p-8 py-10 w-full flex gap-6 flex-col items-center justify-center rounded-[24px] lg:flex-row lg:gap-0 lg:px-12 lg:py-20 2xl:px-20 2xl:py-28'
  >
    <div class='glare'></div>
    <header
      class='w-full text-white flex flex-col gap-6 sm:w-1/2 sm:justify-center lg:gap-16'
    >
      <div class='gap-2'>
        <h3
          class='mb-4 font-semibold text-2xl relative lg:mb-5 lg:text-4xl 2xl:mb-8 2xl:text-7xl'
        >
          {project.title.toUpperCase()}
        </h3>
        <p
          class='font-normal text-xs italic text-neutral-300 lg:text-lg lg:pr-16 2xl:text-2xl'
        >
          {project.description}
        </p>
      </div>
      <ul
        class='font-bold text-[10px] flex flex-wrap gap-3 lg:text-lg lg:gap-4 2xl:gap-6 2xl:text-xl'
      >
        {
          project.technologies.map((tech) => (
            <li class='tooltip flex items-center justify-center'>
              <div class='flex items-center justify-center rounded-md box-border p-2 2xl:p-4 2xl:rounded-lg'>
                <Technologies icon={tech as TechnologieType} client:load />
              </div>
              <span class='tooltiptext'>{tech}</span>
            </li>
          ))
        }
      </ul>
    </header>
    <a class='w-full h-full sm:w-1/2' href={project.url} target='_blank'>
      <img
        class='w-full h-auto max-w-[960px] aspect-video drop-shadow-xl'
        src={project.img}
        alt={project.title}
      />
    </a>
  </section>
</article>
